<!DOCTYPE html>
<html>
	<head>
		<script>
			function setInvariantTrue() {
    			document.getElementById('boolLancementSaisieInvariant').value = 'TRUE';
			}
		</script>
		<script>
			
			console.log(alert)

		</script>

		<meta charset="UTF-8" />
		<title>Saisie de la strategie</title>
		<link href="{{ url_for('static', filename='commun.css') }}" rel="stylesheet" type="text/css" />
	</head>
	
	
	<body>
		
		<form action="/traitement_saisie_strategie"   method="post">
			
			<!--  ********************************************************** -->
			<div class="menu" >
		
				<h1>Prouveur</h1>
				 
					<ul>
						<li><a href = "/central" >Annuler</a> et retourner vers les données</li>
						<br>&nbsp;
						<li><input type="submit" value="Valider la saisie" />
						 
					</ul>
			</div>
			
	
	 
			<!--  ********************************************************** -->
			<div class="corps_page" >
			          
				<h1>Saisie de la strategie</h1>
				
					{% set chaineStrategie =  datasNoyau.getStrategie().getFormuleStrategie() %}
					
					<h2>(1) formule de strategie :  {{  chaineStrategie  }}</h2>
							
							<input  type = "text"    
									id = "chaine_strategie"  
									name = "formuleStrategie"
									value = {% if temp_strategie==''%}{{  chaineStrategie  }}{% else %}{{  temp_strategie  }}{% endif %}
									size = 80
								/>
							
					<br>&nbsp;
					<br>&nbsp;
					
					{% set lesInvariants = datasNoyau.getStrategie().getLesInvariants() %}
					
					
						<h2>(2) Invariant </h2></h>
							{% if lesInvariants %}
								<ul>
									{% for invariant in   lesInvariants  %}
										<li>  {{   invariant   }} 
									{% endfor %}
								</ul>
							{% else %}
								<br>Aucun invariant
							{% endif %}
						
						<br>
					
				<input type="hidden" id="boolLancementSaisieInvariant" name="boolLancementSaisieInvariant" value="FALSE">
				<input type="submit" value="Saisir l'invariant" onclick="setInvariantTrue()">

		</form>
		
    
	</body>
  
</html>
